# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/

# Test coverage
coverage/
.nyc_output/

# Cache
.eslintcache
.cache/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Docker
docker/

# Docs
_docs/

# Git
.git/
.husky/

# IDE
.vscode/
.idea/

# Serverless
.serverless/

# Test reports
test-reporter.xml
